@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*, *::before, *::after {
  font-family: 'Nunito Sans', sans-serif;
  color: #13151f;
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: white;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}


/*  NAVIGATION  */
#navbar {
  display: block;
  background-color: #fefefe;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  text-align: right;
}
.nav {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  margin-right: 50px;
  font-weight: bold;
}


/* LANDING PAGE */
.LANDING_CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  /* parallax effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%; 
  background-image: url("pics/bg1.jpg");
}
.landing-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title {
  font-size: 80px;
  font-weight: bold;
  margin: 20px;
}
.tagline {
  font-size: 30px;
  font-weight: bold;
}
button {
  margin: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #636e72;
  font-size: 25px;
}


/* ABOUT */
.ABOUT_CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.about_slide {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.about_desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 40%;
  text-align: justify;
  padding: 40px;
  background-image: linear-gradient(to bottom left,#81ecec,#0984e3);
  margin: 50px;
  border-radius: 20px;
}
.about_desc h1 {
  font-size: 30px;
  color: #000000;
}
.about_desc p {
  font-size: 20px;
}
#dp {
  border-radius: 50%;
}


/* PORTFOLIO */
#portfolio h1 {
  color: white;
  font-size: 80px;
  margin: 5px;
}
#portfolio p {
  color: white;
  font-size: 30px;
  margin: 20px;
}
.PORTFOLIO_CONTAINER {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 175%;
  width: 100%;
  background-image: linear-gradient(to bottom left,#b2bec3,#2d3436);
}
.grid-container {
  position: relative;
  padding: 10 120px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: minmax(1px, 100px);
  grid-gap: 20px;
}
.grid-item {
  position: relative;
}
.item-1 {
  align-self: start;
  justify-self: center;
}
.item-2 {
  align-self: start;
  justify-self: center;
}
.item-3 {
  align-self: start;
  justify-self: center;
}


/* SERVICES */
.SERVICES_CONTAINER {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.right-pic {
  text-align: right;
  width: 50%;
}
.services {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 150px;
}
.services h1 {
  font-size: 30px;
  color: #000000;
}


/* CONTACT */
#footer {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%
}
.CONTACT_CONTAINER {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 75%;
  width: 50%;
  color: white;
}
.left {
  align-items: flex-start;
  margin-left: 100px;
}
input[type="text"] {
  display: block;
  width: 500px;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
  background: #13151f;
  color: #fefefe;
}
input[type="text"]:focus {
  box-shadow: 0 0 10px 4px #34495e;
}
textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  padding: 20px 40px;
  outline: none;
  transition: 0.5s;
  background: #13151f;
  color: #fefefe;
  resize: none;
}
textarea:focus {
  box-shadow: 0 0 10px 4px #34495e;
}
input[type="submit"] {
  background: #13151f;
  display: block;
  align-self: center;
  border: 0;
  color: #fefefe;
  padding: 12px 50px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
input[type="submit"]:hover {
  background: #2980b9;
  align-self: center;
}
.social_links {
  color: white;
  margin: 10px;
  font-size: 20px;
}